PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/cfg_diksha?retryWrites=true&w=majority
GEMINI_API_KEY=your_gemini_api_key_here
GROQ_API_KEY=your_groq_api_key_here
AZURE_SPEECH_KEY=your_azure_speech_key_here
AZURE_SPEECH_REGION=eastus
JWT_SECRET=cfg_diksha_secret_jwt_key_2026
